.contact-type,
.contact-value,
#contact h3,
.contact-skype,
#about h3,
hgroup h2,
.experience-institution {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 5%;
}
@media (max-width: 480px) {
  body {
    margin-right: 40%;
    margin-top: 5%;
    padding-left: 5%;
  }
  figure img {
    display: none;
  }
}

@media (max-width: 1220px) {
  body:not(hgroup h1, figure img, #about p) {
    margin-left: 0px;
  }
}

hgroup h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(194, 193, 193);
  padding-bottom: 15px;
}
@media (max-width: 480px) {
  hgroup h1 {
    width: 420px;
  }
}

figure img {
  margin-left: 60%;
  width: 160px;
  height: auto;
  padding-top: -25px;
  position: absolute;
  top: 65px;
  left: 60px;
  transform: rotate(-15deg);
}

#about p {
  margin-right: 30%;
  color: rgb(167, 167, 167);
  font-style: italic;
  margin-bottom: 115px;
}
@media (max-width: 480px) {
  #about p {
    width: 420px;
    text-align: justify;
  }
}

#competencies h3 {
  border-right: 1px solid black;
  height: 90px;
  width: auto;
  margin-right: 45px;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: right;
  margin-left: -4px;
}
@media (max-width: 480px) {
  #competencies h3 {
    border-bottom: 1px solid black;
    width: fit-content;
    height: 20px;
    display: block;
    border-right: 0px;
  }
}

#competencies {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 20% 30% 25% 25%;
  grid-template-rows: 50% 50%;

  max-height: 110px;
}

.skills {
  margin-left: -35px;
  margin-top: 15px;
}

.skills-primary,
.skills-secondary {
  display: flex;
  align-items: center;
  
}

.skills.skills-primary .skill {
  background: rgb(17, 124, 124);
  width: 125px;
  line-height: 1.5vw;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
}

.skills.skills-secondary .skill {
  background: rgb(17, 124, 124);
  width: 125px;
  line-height:1.25rem;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.85);
  font-size: x-small;
  
}

.skills.skills-primary {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.skills.skills-secondary {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}

[data-skill="5"]:nth-child(1)::after {
  content: "★★★";

  margin-left: 80px;
}

[data-skill="9"]::after {
  content: "★★★★★";
  margin-left: 40px;
}

[data-skill="7"]::after {
  content: "★★★★";
  margin-left: 80px;
}

[data-skill="3"]::after {
  content: "★★";
  margin-left: 90px;
}

[data-skill="1"]::after {
  content: "★";
  margin-left: 40px;
}

[data-skill="5"]:nth-child(2)::after {
  content: "★★★";
  margin-left: 90px;
}

.skill {
  padding-left: 4px;
}

@media (max-width: 480px) {
  .skills {
    margin-top: 65px;
  }

  .skills-primary,
  .skills-secondary {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.1fr 0.5fr;
  }

  .skills-primary .skill {
    margin-left: 0;
    width: 27vw;
    height: 2rem;
    
  }

  [data-skill="5"]:nth-child(1)::after {
    content: "★★★";
    margin-left: 80px;
    position: relative;
    top: 14%;
    
  }

  [data-skill="3"]::after {
    content: "★★";
    margin-left: 90px;
    position: relative;
    top: 14%;
  }

  [data-skill="1"]::after {
    content: "★";
    margin-left: 100px;
    position: relative;
    top: 14%;
  }

  .skills span {
    margin-left: 2px;
    position: relative;
    top: 14%;
  }

  .skills-secondary .skill {
    margin-left: 0;
    width: 27vw;
  }

  .skills-secondary .skill span {
    margin-left: 2px;
    position: relative;
    top: 24%;
  }

  [data-skill="9"]::after {
    content: "★★★★★";
    margin-left: 26px;
    position: relative;
    top: 0.5vw;
     left: 3vw; 
     
  }

  [data-skill="5"]:nth-child(2)::after {
    content: "★★★";
    margin-left: 80px;
    position: relative;
    top: 0.7vw;
    left: 3vw;
  }

  [data-skill="7"]::after {
    content: "★★★★";
    margin-left: 20px;
    position: relative;
    left: 1.02vw;
    top: 0.7vw;
  }
}

@media (max-width: 480px) {
  #experiences {
    display: block;
    margin-top: 120px;
    height: auto;
  }
}

#experiences {
  display: grid;
  height: fit-content;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 1fr;
  margin-right: 88px;
  
  
}

.experience {
  grid-column-start: 2;
  margin-left: -15px;
  max-height: fit-content;

  
}

@media (max-width: 480px) {
  .experience {
    margin-top: 100px;
    height: auto;
    text-align: justify;
    width: 400px;
    margin-left: 10px;
  }
}

#experiences h3 {
  border-right: 1px solid black;
  height: 25rem;
  margin-right: 28px;
  text-align: center;
}

@media (max-width: 480px) {
  #experiences h3 {
    border-bottom: 1px solid black;
    width: 130px;
    height: 20px;
    display: block;
    border-right: 0px;
    text-align: left;
  }
}

#education {
  display: grid;
  height: auto;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50% 50%;
  margin-right: 88px;
  margin-bottom: -30px;;
  margin-top: -400px;
}

@media (max-width: 480px) {
  #education {
    display: block;
    margin-top: -400px;
    margin-left: -15px;
    
  }
}

@media (max-width: 480px) {
  #experiences .experience {
    margin-left: -35%;
    height: auto;
  }
}




@media (max-width:480px) {
  .experience-description {
    height: auto;
  }
}
#education h3 {
  border-right: 1px solid black;
  height: 20rem;
  margin-right: 28px;
  text-align: center;
  margin-left: 10px;
  
}

@media (max-width: 480px) {
  #education h3 {
    border-bottom: 1px solid black;
    width: 130px;
    height: 20px;
    display: block;
    border-right: 0px;
    margin-bottom: -40px;
    padding-top: 30px;
    text-align: left;
  }
}

#hobbies {
  display: grid;

  grid-template-columns: 20% 80%;
  grid-template-rows: 50% 50%;
  margin-right: 88px;
  margin-top: 0px;
  
}

@media (max-width: 480px) {
  #hobbies {
    display: block;

    padding-top: -200px;
    margin-left: -5px;
  }
}

#hobbies h3 {
  border-right: 1px solid black;
  height: 5rem;
  margin-right: 28px;
  text-align: center;
  margin-left: 10px;
  
}

@media (max-width: 480px) {
  #hobbies h3 {
    border-right: 0px;
    border-bottom: 1px solid black;
    width: 130px;
    height: 20px;
    display: block;
    margin-left: 0px;
    padding-top: 100px;
    text-align: left;
    
  }
}

#hobbies ul {
  margin-left: -35px;
}

@media (max-width: 480px) {
  #hobbies ul {
    margin-left: -5px;
    padding-left: -20px;
  }
}

.experience-type {
  color: rgb(18, 128, 128);
}

.experience-details {
  float: right;
  margin-top: -40px;
  color: rgb(185, 185, 185);
}

.experience-date-separator {
  color: rgb(18, 128, 128);
}

h3 {
  font-style: italic;
}

.contact-email {
  content: "";
  background: url(../images/email.png) no-repeat 6px center;
  background-size: 75px 75px;
  width: 75px;
  height: 75px;
  display: block;
  background-position-x: 2px;
  margin-right: 0;
}

.contact-facebook {
  content: "";
  background: url(../images/facebook.png) no-repeat 6px center;
  background-size: 75px 75px;
  width: 75px;
  height: 75px;
  display: block;
  background-position-x: -2px;
}

.contact-github {
  content: "";
  background: url(../images/github.png) no-repeat 6px center;
  background-size: 80px 80px;
  width: 100px;
  height: 100px;
  display: block;
  background-position-y: -2px;
}

.contact-phone {
  content: "";
  background: url(../images/phone.png) no-repeat 6px center;
  background-size: 75px 75px;
  width: 80px;
  height: 75px;
  display: block;
}

.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}

@media (max-width: 480px) {
  .contacts {
    justify-content: flex-start;
    width: 400px;
    height: auto;
  }
}
